.addStaffButton{
    background-color: #ae946d;
    color: white;
    font-weight: 500;
    width: 160px;
    height: 80px;
    letter-spacing: 2px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.addStaffButton:active{
    transform: scale(0.9);
}