.cartPage{
    width: 90%;
    background-color: black;
    /* min-height: 50vh; */
    border: 1px solid black;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
}
.cartTHead{
    height: 25px;
}
.cartTHead>tr>td{
    background-color: #ae946d;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
}
.cartImgTd{
    width: 10%;
}
.cartQtTd{
    width: 5%;
}